* {
    margin: 0;
    padding: 0;
}

/* start profile section  */

.profile-section {
    height: 550px;
}

.profile-section a {
    color: #A6A8A8;
    font-size: 20px;
}

.profile-section a:hover {
    background-color: #57A99F;
    color: white;
}

.profile-content a {
    color: #B90404;
    font-size: 24px;
    text-decoration: none;
}

.card {
    height: 170px;
    background-color: #91B8B329;
}

@media (max-width:768px) {
    .card h3{
        font-size: 23px;
    }
    .card p{
        font-size: 14px;
    }
    .card img{
        width: 60px;
    }
}
@media (max-width:576px){
    .bigcard{
        display: inline;
        width: 70%;
    }
    .bigimg{
        width: 30%;
    }
}