* {
    margin: 0;
    padding: 0;
}

/* start cart section */

.bigimg {
    height: 78%;
}

.cart-section button {
    padding: 10px 80px;
    border: none;
    background-color: #57A99F;
    color: white;
    font-size: 20px;
}

.del {
    background-color: #eee;
    border: 5px solid #000;
}

.text button:hover {
    background-color: #2F847C;
    cursor: pointer;
}

.text h5:hover {
    cursor: pointer;
    background-color: #eee;
}

.count {
    border: 2px solid #cdcdcd;
    padding: 10px 20px;
    font-size: 20px;
    margin-left: 30px;
}
.smallimg{
    height: 25%;
}

@media (max-width: 767px) {
    .smallimg {
        display: inline;
        width: 32%;
        height: 80px;
        
    }

    .bigimg {
        width: 98%;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .count{
        padding: 10px 10px;
        margin-left: 20px;
    }
    .cart-section button {
        padding: 10px 50px;
    }
}


@media (width: 768px){
    .smallimg{
        width: 100%;
        height: 80px;
    }
    .bigimg{
        width: 80%;
        height: 60%;
    }
    .text h2{
        font-size: 25px;
    }
    .text h3{
        font-size: 25px;
    }
    .cart-section button{
        padding: 10px 30px;
    }
}



/* end cart section */