* {
  margin: 0;
  padding: 0;
}

/* start card section  */

.card-section img {
    margin-right: 71px;
}


.card-section button{
    border: 2px solid black;
    padding: 12px 15px;
}

/* End card section  */
