* {
  margin: 0;
  padding: 0;
}

/* start card section  */

.card-section img {
  width: 37%;
  margin-right: 71px;
}

.card-section button {
  border: 1px solid black;
  padding: 12px 15px;
}
.card-section button a {
  text-decoration: none;
  color: black;
} 

@media (max-width: 576px) {
  .card-section img {
    width: 48%;
    margin-right: 60px;
  }
  .card-section button {
    width: 55%;
    padding: 10px 7px;
  }
}

/* End card section  */
