/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Header */
.header-section img {
  height: 630px;
  object-fit: cover;
}
.header-section .carousel-caption {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
}
.header-section ol {
  display: flex;
  justify-content: start;
}
.header-section .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #91b8b3, #00000000);
}
.header-section li {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-left: 10px;
}
.header-section p {
  font-size: 22px;
  cursor: pointer;
}

.fav-icon {
    position: absolute;
    top: 13px;
    right: 15px;
    font-size: 20px;
    color: #555;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
}

.fav-icon:hover {
    color: red;
    transform: scale(1.1);
}


/* Mobile header */
@media (max-width: 576px) {
  .header-section h1 {
    font-size: 27px;
  }
  .header-section p {
    margin-bottom: 30px;
  }
}

/* Main Section */
.main-section img {
  height: 200px;
  object-fit: cover;
}
.main-section .card {
  background-color: #91b8b329;
}
.card-body {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.card-body p:nth-of-type(2) {
  cursor: pointer;
}

/* start select option  */

.product-section,.sale-2, .card {
  position: relative;
  overflow: hidden;
}

.add-to-cart-btn {
  position: absolute;
  border: 0;
  bottom: 115px;
  left: 0;
  width: 100%;
  height: 45px;
  background: #57a99f;
  color: white;
  font-weight: bold;
  border: none;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}
.product-section,.sale-2, .card:hover .add-to-cart-btn {
  opacity: 1;
}
.sale-2 .add-to-cart-btn {
  bottom: 100px;
}

.sale-1 .add-to-cart-btn {
  bottom: 100px;
}

/* End select option  */

/* Show More button */
.showmore {
  margin-bottom: 60px;
}
.showmore button {
  padding: 15px 44px;
  border: 2px solid black;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width:576px){
  .showmore{
    margin-top: 30px;
  }
}

/* Photo Section */
.photo-section {
  margin-top: 55px;
}
