*{
    margin: 0;
    padding: 0;
}

/* start profile section  */
.profile-section  a{
    color: #A6A8A8;
    font-size: 20px;
}
.profile-section  a:hover{
    background-color: #57A99F;
    color: white;
}
.profile-content a{
    color: #B90404;
    font-size: 24px;
    text-decoration: none;
}
.profile-par{
    margin-bottom: 150px;
}

/* End profile section  */