*{
    margin: 0;
    padding: 0;
}


/* start main section  */

.form-section a{
    margin-left: 150px;
    text-decoration: none;
    color: black;
}

input[type="submit"]{
    background-color: #57A99F;
    color: white;
    border: none;
    font-size: 20px;
}
.form-section button:nth-of-type(2){
    border: 1px solid #c9c6c6;
}
.main-right button{
    background-color: #57A99F;
    border: none;
}
.main-right a{
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .form-section a{
        margin-left: 50px;
    }
}
input[type="submit"]:hover{

    background-color: #438b82;
    color: white;
}

/* End main section   */