*{
    margin: 0;
    padding: 0;
}


/* start main section  */

.form-section a{
    margin-left: 150px;
    text-decoration: none;
    color: black;
}

.form-section button:nth-of-type(1){
    background-color: #57A99F;
    color: white;
    border: none;
}
.form-section button:nth-of-type(2){
    border: 1px solid #c9c6c6;
}
.main-right button{
    background-color: #57A99F;
    border: none;
}
.main-right a{
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
   .form-section a{
        margin-left: 50px;
    }
}



/* End main section   */