* {
    padding: 0;
    margin: 0;
}

input:nth-of-type(5) {
    background-color: #57A99F;
    font-size: 20px;
    color: white;   
    border: none;
}

.lonin {
    border: 1px solid #c9c6c6;
    font-size: 20px;
}
.lonin:hover {
    background-color: #f8f6f6;
}



input:nth-of-type(5):hover {

    background-color: #438b82;
}