*{
    margin: 0;
    padding: 0;
}
.icon{
  color: black;
}


/* start footer section  */
.footer-section{
    background-color: #F3F4F4;
    padding: 30px 0;
}
.footer-section  span{
    color: #42d8cbd2;
}
@media (min-width: 768px) and (max-width: 992px) {
    .footer-section img{
        width: 79%;
    }
}
@media (max-width: 576px) {
    .footer-section img{
        width: 60%;
    }
}
/* End footer section   */
