*{
    margin: 0;
    padding: 0;
}
.icon{
  color: black;
}

/* start nav section  */

@media (max-width: 576px) {


    nav img{
        width: 65%;
    }
}


/* End nav section  */
/* start footer section  */
.footer-section{
    background-color: #F3F4F4;
    padding: 30px 0;
    margin-top: 100px;
}

.footer-section  span{
    color: #57A99F;
}
@media (min-width: 768px) and (max-width: 992px) {
    .footer-section img{
        width: 79%;
    }
}
@media (max-width: 576px) {

    .navbar{
        position: sticky;
        z-index: 1000;
        top: 0;
        
    }

    .footer-section{
        text-align: center;

        margin-bottom: 4px;
    }
    .footer-section img{
        width: 55%;
    }
}

/* End footer section   */
